body {
  background-color: #ffffff;
}

.header__link {
  color: #ff7b54;
}

.nav__list-item > a {
  color: #ff7b54;
}

.main__heading {
  color: #ff7b54;
  font-size: 128px;
  font-weight: bold;
}

.speaker__photo {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 36px;
}
.speaker__photo--top {
  object-position: top;
}
.speaker__name {
  font-size: 32px;
  font-weight: bold;
  color: #ff7b54;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
.speaker__company {
  font-size: 24px;
  margin-bottom: 32px;
}
.company__bio {
  font-size: 20px;
}
.speaker__wrapper {
  width: 460px;
}
.speakers__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 200px;
  grid-row-gap: 12px;
}
